<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <img src="/images/logo-mercado-liebre.svg" class="logo">
        <input type="search" placeholder="Escriba aqui su busqueda" class="busqueda">
        <nav>Lugar para poner la barra de búsqueda</nav>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul type="Square">Barra de navegación que posea las siguientes opciones:
            <a href="">
                <li>Ofertas</li>
            </a>
            <a href="">
                <li>Tiendas Oficiales</li>
            </a>
            <a href="">
                <li>Vender</li>
            </a>
            <a href="">
                <li>Ayuda</li>
            </a>
        </ul>
        <ul>
            <a href="">
                <li>Creá tu cuenta </li>
            </a>
            <a href="">
                <li>Ingresá</li>
            </a>
            <a href="">
                <li>Mis compra<i class="fa-solid fa-basket-shopping"></i></li>
            </a>
        </ul>
    </header>
    <img src="/images/img-home-banner.jpg" class="banner">
    <Main>
        <section>Sección: Basado en tu última visita
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" class="imagen-producto">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" class="imagen-producto">
                <div>$230.000</div>
                <div>20% off</div>
                <div>MacBook Pro 2019</div>
            </div>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" class="imagen-producto">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" class="imagen-producto">
                <div>$230.000</div>
                <div>20% off</div>
                <div>MacBook Pro 2019</div>
            </div>
        </section>
        <section>Sección: Ofertas
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" class="imagen-producto">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" class="imagen-producto">
                <div>$230.000</div>
                <div>20% off</div>
                <div>MacBook Pro 2019</div>
            </div>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" class="imagen-producto">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" class="imagen-producto">
                <div>$230.000</div>
                <div>20% off</div>
                <div>MacBook Pro 2019</div>
            </div>
        </section>
    </Main>

    <Footer>
        <section>
            <div>●Pagá con tarjeta o en efectivo
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                <div>
                    <section>
                        <div>● Envío gratis desde $ 2.500
                            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.
                            <section>
                        </div>
                        <section>
                            <div>
                                ● Seguridad, de principio a fin
                                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.
                            </div>
                        </section>
                        <section>
                            <div>● Copyright © 1999-2020 MercadoLiebre S.R.L.

                            </div>
                        </section>



                    </section>



    </Footer>
</body>

</html>